vendor
frontend/public/img/upload
frontend/public/img/download
frontend/public/files/upload
frontend/public/files/download
frontend/app/temp
frontend/app/libs/fpdf/doc/*
frontend/app/libs/fpdf/tutorial/*
core13/*
core20/*
# Mac filesystem dust
.DS_Store

# Vagrant
.vagrant

# Sonarlint
.sonarlint

#### Editors:

# Netbeans
/nbproject

# Visual Studio Code
.vscode

# Intellij
.idea

#sonar
.sonar
.scannerwork
sonar-project.properties
composer.lock
KumbiaPHP/
*.xlsx
historial-registros-director-de-grupo.png
reg-coord-obs-academico.png
reg-coord-obs-generales.png
Sin título 2.png
Sin título.png
agregar-registro-observaciones-todos-los-profesores.png
desktop.ini
core.zip
frontend/app.zip
vendor.zip
frontend/app/help.zip

frontend/app/libs/fpdf/FAQ.htm
frontend/app/libs/fpdf/changelog.htm
