vendor
frontend/public/img/*
frontend/public/files/*
frontend/app/temp/*
frontend/app/libs/fpdf/*
core13/*
core20/*
# Mac filesystem dust
.DS_Store

# Vagrant
.vagrant

# Sonarlint
.sonarlint

#### Editors:

# Netbeans
/nbproject

# Visual Studio Code
.vscode

# Intellij
.idea

#sonar
.sonar
.scannerwork
sonar-project.properties
composer.lock
KumbiaPHP/
*.xlsx
historial-registros-director-de-grupo.png
reg-coord-obs-academico.png
reg-coord-obs-generales.png
Sin título 2.png
Sin título.png
agregar-registro-observaciones-todos-los-profesores.png
desktop.ini

frontend/app/libs/fpdf/*
frontend/public/index.php
