*.xlsx
*.zip
frontend/public/img/upload/*
frontend/public/img/download/*
frontend/public/files/upload/*
frontend/public/files/download/*

frontend/app/libs/fpdf/*
frontend/app/help/*
frontend/app/temp/*

vendor/Kumbia/ActiveRecord/

core13/*
core20/*

# Mac filesystem dust
.DS_Store

# Vagrant
.vagrant

# Sonarlint
.sonarlint

#### Editors:

# Netbeans
/nbproject

# Visual Studio Code
.vscode

# Intellij
.idea

#sonar
.sonar
.scannerwork
sonar-project.properties
desktop.ini

